<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Current User</title>
</head>
<body>
<div>{{this.currentUser.email}}</div>
<div>{{this.currentUser.password}}</div>

<nav style="display: flex; background-color: cyan">
    <div style="margin-right: 60px">
        <a href="/register">Registration page</a>
    </div>
    <div>
        <a href="/login">Login page</a>
    </div>
</nav>

</body>
</html>