<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>

<h1 style="align-items: center">LOGIN PAGE</h1>

<nav style="display: flex; background-color: cyan">
    <div style="margin-right: 60px">
        <a href="/register">Registration page</a>
    </div>
    <div>
        <a href="/users">Users page</a>
    </div>
</nav>

<form action="/login" method="post">
    <input type="text" name="email">
    <input type="text" name="password">
    <input type="submit" value="SIGN IN">
</form>

</body>
</html>